.eventDonationContainer {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  }
  
  

 .container{
  background-color:#ced4da50 ;
 }
  .addDonationButton {
    background-color:#1976d2; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 1300px;

  }
  
  .addDonationButton:hover {
    background-color: #005a9e; 
  }
  
  /* Table styles */
  .scrollableTableContainer {
    max-height: 400px; 
    overflow-y: auto;  
    margin-top: 20px; 
    background-color: #ced4da50;
}

/* Table styles */
.eventDonationTable {
    width: 100%;

    
}

.eventDonationTable th {
    position: sticky; 
    top: 0;         
    z-index: 10;    

    color: black;   
    font-weight: bold; 
}

.eventDonationTable th,
.eventDonationTable td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.eventDonationTable tr:hover {
    background-color: white;
}

  
  /* Action icon styles */
  .actionIcon {
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .actionIcon svg {
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .actionIcon svg:hover {
    color: #0078d4; /* Fluent UI blue on hover */
  }
  
  /* Modal styles */
  .modalContainer {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 100px auto;
    position: relative;
  }
  
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .modalTitle {
    font-size: 24px;
    font-weight: bold;
  }
  
  .closeIcon {
    cursor: pointer;
  }
  
  .modalForm {
    display: flex;
    flex-direction: column;
  }
  
  .saveButton {
    background-color: #0078d4;
    color: white;
    margin-top: 20px;
    padding: 10px;
  }
  
  .saveButton:hover {
    background-color: #005a9e;
  }
  
  .header{
    display: flex;
     flex-direction: row;
  }

  .goback
{
  background-color:#1976d2; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
.nextButton
{
  background-color:#1976d2; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 15px;

}

.donationfooter
{
  background-color: rgba(0, 0, 0, 0.096);
}