
.inkindDonationContainer {
  padding: 20px;
  background-color:white;
  border-radius: 8px;
}

.addDonationButton {
  background-color: #1976d2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 1300px;
}

.addDonationButton:hover {
  background-color: #1565c0;
}

.donorCount {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #333;
}

.scrollableTableContainer {
  max-height: 400px; 
  overflow-y: auto;  
  background-color:#ced4da50;
 
}


.inkindDonationTable thead {
  position: sticky;
  top: 0;
  /* background-color: white;  */
  z-index: 1; /* Keeps the header above the body content */
}

.inkindDonationTable {
  width: 100%;
 
}

.inkindDonationTable th {
  position: sticky; 
  top: 0;          
  z-index: 10;    
  background-color: white;
 
  
}
.inkindDonationTable tr:hover {
  background-color:white;
}


.inkindDonationTable td,th{
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;

}



.actionIcon {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.actionIcon svg {
  cursor: pointer;

  transition: color 0.3s ease;
}


.modalContainer {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.modalHeader {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modalTitle {
  margin: 0;
  font-size: 24px;
  color: #333;
 text-align: center;

}

.closeIcon {
  cursor: pointer;
  color: #888;
  transition: color 0.3s ease;
  margin-left: 435px;
  margin-top: -40px;
}

.closeIcon:hover {
  color: #555;
}

.modalForm {
  display: flex;
  flex-direction: column;
}

.saveButton {
  background-color: #1976d2;
  color: white;
  padding: 10px 0;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.saveButton:hover {
  background-color: #1565c0;
}

.header
{
  
  flex-direction: row;
background-color: #ced4da50;
}

.goback
{
  background-color:#1976d2; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 15px;

}
.nextButton
{
  background-color:#1976d2; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 15px;

}

.donationfooter{
  background-color: rgba(0, 0, 0, 0.096) ;
  padding: 10px;
  align-items: center;
  justify-content: space-between;


}

.cancelButton
{
  background-color:#1976d2; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 15px;
  margin-left: 100px;
}
.saveButton
{
  background-color:#1976d2; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 15px;

}