
.pageFooter {
  display: flex; 
  justify-content: center;
  padding: 10px;
  gap:15px;
  background-color:rgb(124, 122, 122);
  width: 100%;
}

.goback {
  background-color: #1976d2;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nextbutton {
  background-color: #1976d2;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
