

.main_container {
  background-color:white;
  height: 800px;
  width: 100%;


}

.container {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color:#ced4da50;
}

.formTitle {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  justify-content: center;
  text-align: center;


}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.donationTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.donationTable th,
.donationTable td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.donationTable th {
  color: black;
  background-color: #f9f9f9; 
  position: sticky; 
  top: 0; 
  z-index: 1; 
}

.donationTable tr:hover {
  background-color: white;
}

/* Making the table scrollable */
.tableContainer {
  max-height: 450px; 
  overflow-y: auto;
  overflow-x: hidden;
  background-color:#ced4da50;
}

/* Static footer section */
.studentfooter {
  background-color: rgba(0, 0, 0, 0.096) ;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  
}

.header {
  display: flex;
  flex-direction: row;
}

.action {
  display: flex;
  align-self: center;
  gap: 10px;
}

.modalbuttons {
  gap: 10px;
  margin-left: 10px;
}

.modalCloseIcon {
  margin-left: 440px;
  width: 30px;
  display: flex;
}

.cancelButton {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 100px;
}

.Addbutton {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.modal_footer {
  gap: 10px;
}

.close_icon {
  margin-left: 400px;
  cursor: pointer;
}

.deleteHeader {
  margin-left: 20px;
}

.backButton
{
  padding: 10px 15px;
  font-size: 16px;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  
}
.goback
{
  background-color:#1976d2; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 650px;
}
.nextButton
{
  background-color:#1976d2; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 15px;

}