.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 20px; /* Adjust spacing between elements */
width: 80%;
align-items: center;
}

.searchinput {
  display: flex;
  align-items: center;
  flex: 1;
  width: 20px;
  width:30px;

}

.searchinput input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width:40%;
}

.searchinput svg {
  margin-left: 8px;
  cursor: pointer;
  
}

.gender-filter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.gender-filter label {
  font-weight: bold;
}

.gender-filter select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.hobbies-filter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hobbies-filter label {
  font-weight: bold;
}

.hobbies-filter .ms-Dropdown {
  min-width: 250px;
}
